#gameboard{
    display:grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    text-align: center;
}
.grid{
    border: 1px solid black;
    padding: 10px
}
#selections{
    display: flex;
    justify-content: center;
    padding: 10px;
}