#gameboard{
    display:grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    text-align: center;
}
.grid{
    height: 100px;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    padding: 40px;
}
#selections{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

#selections input {
    margin: 0px 10px;
}